<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.arkh_tyi.concertbuddies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".layoutJavaPages.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layoutJavaPages.Bio"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity"></activity>
        <activity android:name=".layoutJavaPages.Settings" />
        <activity android:name=".MakePlan" />
        <activity android:name=".layoutJavaPages.MyEventsPage" />
        <activity android:name=".layoutJavaPages.RecBuddiesPage" />
        <activity android:name=".layoutJavaPages.RecEventsPage" />
        <activity android:name=".layoutJavaPages.UserProfileActivity" />
        <activity android:name=".ArtistPageActivity" />
        <activity android:name=".layoutJavaPages.SearchPage"/>
        <activity android:name=".layoutJavaPages.MyBuddiesPage"


            ></activity>
    </application>

</manifest>